body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color:#1E0606;
    ;
}
a {
    text-decoration: none;
}
.button {
    background: #000000;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}
.button:hover {
    background: #C29974;
}
.button:active {
    background: #CFAF91;
}
.banner:after {
    content:'';
    display: block;
    background: #EEE4DB;
    width: 1180px;
    height: 411px;
}
.nav ul {
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}